<body style="background-image: url(<%= asset_path 'back.jpg' %>);">
<div id="div_back">
</div>
<div id="div_img_notopochi">
    <%= image_tag('notopochi.png', id: "img_notopochi") %>
</div>
<div id="div_img_notobus">
    <%= image_tag('notobus.png', id: "img_notobus") %>
</div>
<div id="descriptionBox">ユーザーID、ニックネーム、パスワードを入力し、<br>新規登録ボタンを押すと<br>のとぽち用のユーザー登録ができます。</div>
<%= form_tag( { controller: :notopochi, action: :do_new}, id: :formlogin, class: :do_new, method: :post) do %>
    <div id="div_textBoxTitle">ユーザーID</div>
    <div id="div_textBox"><%= text_field_tag :user, '',size:30,placeholder:'userID' %></div>
    <div id="div_textBoxTitle">パスワード</div>
    <div id="div_textBox"><%= password_field_tag :pass, '',size:30, placeholder:'password' %></div>
    <div id="div_textBoxTitle">確認パスワード</div>
    <div id="div_textBox"><%= password_field_tag :repass, '',size:30, placeholder:'password' %></div>
    <div id="div_btn_next"><%= button_tag('新規登録', id: :'btn_next', type: :'submit') %></div>
<% end %>
<br><br>
<%= form_tag( { controller: :notopochi}, id: :formlogin, class: :login, method: :get) do %>
    <div id="div_btn_next"><%= button_tag('戻る', id: :'btn_next', type: :'submit')%></div>
<% end %>
</body>
